.a{
    background-color: black;
    height: 31vh;
    color: white;

}
.b{
    background-color: #0dcaf0;
    height: 31vh;
    color: white;

}
.c{
    background-color: #0f5132;
    height: 31vh;
    color: white;

}
.d{
    background-color: #0a53be;
    height: 31vh;
    color: white;
}
.e{
    background-color: gold;
    height: 31vh;
    color: white;
}
.img-one{
    width: 100%;
    height: 31vh;
}
.img-two{
    width: 100%;
    height: 31vh;

}
.img-three{
    width: 100%;
    height: 31vh;

}

.biop{
    height: 50vh;
}